<%= form_with url: "/suites/#{@suite.id}", method: :patch, local: true do |form| %>
  <p><%= form.label :name %></p>
  <p><%= form.text_field :name %></p>
  <p><%= form.label :clean %></p>
  <p><%= form.select :clean, options_for_select([true, false]) %></p>
  <p><%= form.label :number_of_beds %></p>
  <p><%= form.text_field :number_of_beds %></p>
  <p><%= form.submit "Update Suite" %></p>
<% end%>
