<h3>Room # <%=@suite.name%></h3>
<p>It is clean: <%=@suite.clean%></p>
<p>Number of Beds: <%=@suite.number_of_beds%></p>

<%= link_to "Edit #{@suite.name}", "/suites/#{@suite.id}/edit"%>

<%= button_to "Delete #{@suite.name}", "/suites/#{@suite.id}", method: :delete %>
