<h1>All Fighters</h1>

<% @fighters.is_active.each do |fighter| %>
    <h3><%= link_to fighter.name, "/fighters/#{fighter.id}" %></h3>
    <p>Height: <%= fighter.height %> meters</p>
    <p>Weight: <%= fighter.weight %> lbs</p>
    <p>Reach: <%= fighter.reach %> inches</p>
    <p>Stance: <%= fighter.stance %>
    <p>Actively fighting: <%= fighter.active %>
<% end %>