<h2><%= @fighter.name %></h2>
<p>Height: <%= @fighter.height %>
<p>Weight: <%= @fighter.weight %>
<p>Reach: <%= @fighter.reach %>
<p>Stance: <%= @fighter.stance %>
<p>Actively fighting: <%= @fighter.active %>
