<h1> Hotel Suites </h1>

<h2><%= @hotel.name%> Hotel</h2>
<% @suites.each do |suite|%>
<h3>Room #<%= suite.name%></h3>
<p> It is clean: <%= suite.clean%></p>
<p> Number of beds: <%= suite.number_of_beds%></p>

<%end%>
<%= link_to "Create Suite", "/hotels/#{@hotel.id}/suites/new" %>

<p><%= link_to "Suites in alphabetical order", "/hotels/#{@hotel.id}/suites?sort=asc" %></p>


<%= form_with url: "/hotels/#{@hotel.id}/suites", method: :get, local: :true do |form| %>
<p><%= form.label :room_count, "Only return suites with more than" %></p>
<p><%= form.text_field :room_count %></p> <br>

<p><%= form.submit 'Filter' %></p>
<%end%>
