<h1>Organization Fighters Index</h1>
<%= link_to "Alphebetize Fighters", "/organizations/#{@organization.id}/fighters?sort=asc" %>
<h2><%= @organization.name %></h2> 
<% @fighters.each do |fighter| %> 
    <h3><%= fighter.name %><%= button_to "Edit #{fighter.name}", "/fighters/#{fighter.id}/edit", method: :get %></h3>
    <p>Height: <%= fighter.height %> meters</p>
    <p>Weight: <%= fighter.weight %> lbs</p>
    <p>Reach: <%= fighter.reach %> inches</p>
    <% end %>

<%= link_to "Create Fighter", "/organizations/#{@organization.id}/fighters/new" %>
