<h1>Organization Fighters Index</h1>

<h2><%= @organization.name %></h2> 
<% @fighters.each do |fighter| %> 
    <h3><%= fighter.name %> </h3>
    <p><%= fighter.height %></p>
    <p><%= fighter.weight %></p>
    <p><%= fighter.reach %></p>
    <% end %>