<h1>Organization Fighters Index</h1>

<h2><%= @organization.name %></h2> 
<% @fighters.each do |fighter| %> 
    <h3><%= fighter.name %> </h3>
    <p>Height: <%= fighter.height %> meters</p>
    <p>Weight: <%= fighter.weight %> lbs</p>
    <p>Reach: <%= fighter.reach %> inches</p>
    <% end %>