<%= form_with url: "/organizations/#{@organization.id}", method: :patch, local: :true do |form| %>
    <p><%= form.label :name %></p>
    <p><%= form.text_field :name, :value => "#{@organization.name}" %></p>
    <p><%= form.label :year_founded %></p>
    <p><%= form.text_field :year_founded, :value => @organization.year_founded %></p>
    <p><%= form.label :president %></p>
    <p><%= form.text_field :president, :value => @organization.president %></p>
    <p><%= form.label :international %></p>
    <p><%= form.select :international, options_for_select([true, false])%></p>
    <p><%= form.submit "Update Organization" %> 
<% end %> 