<h1><center><%= @organization.name %></center></h1>
<center><%= link_to "List of fighters", "/organizations/#{@organization.id}/fighters" %></center>
<p>Id: <%= @organization.id %></p>
<p>Created At: <%= @organization.created_at %></p>
<p>Updated At: <%= @organization.updated_at %></p>
<p>Year Founded: <%= @organization.year_founded %></p>
<p>President: <%= @organization.president %></p>
<p>International Events: <%= @organization.international %></p>
<p>Number of Fighters: <%= @organization.count_fighters %></p>

<%= button_to "Edit #{@organization.name}", "/organizations/#{@organization.id}/edit", method: :get %>
<%= button_to "Delete #{@organization.name}", "/organizations/#{@organization.id}", method: :delete %>
