<h1><%= @organization.name %></h1>
<p>id: <%= @organization.id %></p>
<p>created_at: <%= @organization.created_at %></p>
<p>updated at: <%= @organization.updated_at %></p>
<p>year founded: <%= @organization.year_founded %></p>
<p>president: <%= @organization.president %></p>
<p>international?: <%= @organization.international %></p>
<p>Number of Fighters: <%= @organization.count_fighters %></p>