<%= form_with url: "/hotels/#{@hotel.id}", method: :patch, local: true do |form| %>
<p><%= form.label :name %></p>
<p><%= form.text_field :name %></p> <br>
<p><%= form.label :year_founded %></p>
<p><%= form.text_field :year_founded %></p><br>
<p><%= form.label :five_stars %></p>
<p><%= form.select :five_stars, options_for_select([true, false]) %></p><br>
<p><%= form.submit 'Update Hotel'%></p>
<%end%>
